<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mj.design_patterns">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--launcher app-->
        <activity android:name=".launcher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--MvVm news list  Activity -->
        <activity android:name=".mv_vm.ui.MvVmActivity"/>
        <!--mvp news list Activity-->
        <activity android:name=".mvp.ui.MvpActivity"/>

    </application>

</manifest>